.images{
    padding-top: 20%;
    padding-left: 20%;
    height: 30vh

}





 /* .buttonLogin {
  background-color: #EA4C89;
  max-width: 100px;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0.5%;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  left: 50%;
}  */

.buttonLogin:hover,
.buttonLogin:focus {
  background-color: #F082AC;
} 
.buttonLogin{
  position: fixed;
  top: 60%;
  right: 200px;
  white-space: nowrap;
  color: rgb(245, 243, 243);
}


/* .buttonSign {
    background-color: #EA4C89;
    max-width: 100px;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0.5%;
    outline: none;
    padding: 10px 16px;
    /* position: relative; */
    /* text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    left: 50%;
  }  */ 
   
  .buttonSign:hover,
  .buttonSign:focus {
    background-color: #F082AC;
  }  */
.buttonSign{
    position: fixed;
    top: 60%;
    right: 200px;
    white-space: nowrap;
    color: rgb(245, 243, 243);
}

