





  .buttonLogin {
  background-color: #302C44;
  position: fixed;
  max-width: 100px;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 60px;
  width: 100px;
  line-height: 20px;
  list-style: none;
  margin: 100px;
  outline: none;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  right: 50%;
}  

.buttonLogin:hover,
.buttonLogin:focus {
  background-color:#DBCCB6;
} 


.backgroundcontainer{
  display: flex;
  align-items: center; 
  justify-content: center; 
  height: 100vh;
}

.buttoncontainer{
  display: flex;
  align-items: center; 
  justify-content: center; 
}

 .buttonSign {
    background-color: #302C44;
    position: fixed;
    max-width: 100px;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 60px;
    width: 100px;
    line-height: 20px;
    list-style: none;
    margin: 100px;
    outline: none;
    padding: 10px 16px; 
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    left: 50%;
 }
   
  .buttonSign:hover,
  .buttonSign:focus {
    background-color: #DBCCB6;
  }  


.yoga1{
  position: fixed;
  top: 20%;
  right: 100px;
  white-space: nowrap;
  background-color:#E29702;
  border-radius: 50%;
  padding: 4rem;
  margin: 40px;
}
.yoga2{
  position: fixed;
  top: 20%;
  right: 700px; 
  white-space: nowrap;
  background-color:#E29702;
  border-radius: 50%;
  padding: 4rem;
  margin: 40px;
}

.yoga3{
  position: fixed;
  top: 20%;
  right: 1200px;
  white-space: nowrap;
  background-color:#E29702;
  border-radius: 50%;
  padding: 4rem;
  margin: 40px;

}
